<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Node Simple Server</title>
  </head>
  <body>
    <p>This is working</p>
    <% if (flag) { %>
    <p class="flag">Flag is true!</p>
    <% } %>

    <div class="title"><%= title %></div>

    <form action="/" method="post" id="noteForm">
      <input type="text" name="title" required />
      <button type="submit">Add Note</button>
    </form>

    <% if (notes.length) { %>
    <ul class="notes">
      <% notes.forEach((item) => { %>
      <li>
        <span><%= item.title %></span>
        <button data-type="remove" data-id="<%= item.id %>">&times;</button>
        <button data-type="update"  data-id="<%= item.id %>">
          Edit
        </button>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No notes!</p>
    <% } %>

    <script src="/script.js"></script>
  </body>
</html>
